#container {
    display: flex;
}

#leftHalf {
    flex: 1;
    overflow: auto;
    height: 95vh;
    border: 1px solid black;
    margin: 5px;
}

#rightHalf {
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

#imageSection {
    display: flex;
    /* flex: 1; */
    /* flex-direction: column; */
    flex-wrap: nowrap;
}

#statusBar {
    width: 100%;
    padding: 3px;
    border: 1px solid black;
}

#previousStatus {
    width: 100%;
    padding: 3px;
    border: 1px solid black;
}

#bigImage {
    flex: 1;
    /* text-align: center; */
}

#bigImage > .cameraImage {
    height: 480px;
}

#imageHistory {
    flex: 1;
    overflow: scroll;
    height: 75vh;
    border: 1px solid black;
    /*white-space: nowrap;*/
}

#imageHistory > .cameraImage {
    height: 120px;
}

.cameraImage {
    padding: 5px;
    border: 1px solid black;
}

.chart {
    height: 250px;
    border-bottom: 1px dashed gray;
    /* margin-bottom: 20px; */
    width: 100%;
}